<label for="title">Title</label>
<%= f.text_field :title %><br/>

<label for="presenter">Presenter</label>
<%= f.text_field :presenter %><br/>

<label for="where">Where?</label>
<%= f.text_field :where %><br/>

<br/>
<label for="when">When?</label>
<%= f.text_field :when %><br/>

<p><label for="image_file">Select image</label>
<%= file_field :image_file, :datafile %><br/>
<%if @event.image_file%>
	<label></label><img src="<%= @event.image_file %>"/><br/>
<%end%>


<br/>
<label for="admin_email">Administrator email</label>
<%= f.text_field :admin_email %><br/>

<label for="archive_date">Archive date</label>
<%= f.text_field :archive_date, :class => :pickadate, :value => @event.pretty_archive_date %><br/>

<label for="intro">Intro</label>
<%= f.text_area :intro, :class => :wysihtml5, :rows => "4", :cols => "60" %><br/>

<label for="desc">Description</label>
<%= f.text_area :desc, :class => :wysihtml5, :rows => "15", :cols => "60" %><br/>

