<label for="first_name">First Name</label>
<%= f.text_field :first_name %><br/>

<label for="middle_name">Middle Name</label>
<%= f.text_field :middle_name %><br/>

<label for="last_name">Last Name</label>
<%= f.text_field :last_name %><br/>

<label for="email">Email</label>
<%= f.text_field :email %><br/>

<label for="addr_1">Address line 1</label>
<%= f.text_field :addr_1 %><br/>

<label for="addr_2">Address line 2</label>
<%= f.text_field :addr_2 %><br/>

<label for="addr_3">Address line 3</label>
<%= f.text_field :addr_3 %><br/>

<label for="addr_4">Address line 4</label>
<%= f.text_field :addr_4 %><br/>

<label for="post_code">Post code</label>
<%= f.text_field :post_code %><br/>

<label for="phone_work">Work phone</label>
<%= f.text_field :phone_work %><br/>

<label for="phone_home">Home phone</label>
<%= f.text_field :phone_home %><br/>

<label for="phone_mobile">Mobile phone</label>
<%= f.text_field :phone_mobile %><br/>

<label for="fax">Fax</label>
<%= f.text_field :fax %><br/>

<label for="region">Region</label>
<%= collection_select :member, :region_id, @regions, :id, :name, options ={:include_blank => :true } %><br/>

<label for="membershiptype">Membership type</label>
<%= collection_select :member, :membershiptype_id, @membershiptypes, :id, :name, options ={:include_blank => true} %><br/>

<label for="groups">Groups</label>
<% for group in @groups %>
	<div id="select-group">
		<%= hidden_field_tag "member[group_ids][]", "" %>
		<%= check_box_tag "member[group_ids][]", 
			group.id, @member.groups.include?(group) %>
		<%= group.name %>
	</div>
<% end %>
