<table id="members" class="sortable">
  <tr>
    <% if @checkbox %><th></th><% end %>
    <th>ID</th>
    <th>Name</th>
    <th>Area</th>
    <th>Type</th>
    <th>Since</th>
    <th>$ <%= Integer(Time.now.strftime('%Y')) - 1%></th>
    <th>$ <%= Integer(Time.now.strftime('%Y'))%></th>
    <th>Last updated</th>
  </tr>

  <% @members = @members.sort_by { |m| m.list_name.downcase } %>

  <% @members.each do |c| %>
    <tr>
      <% if @checkbox %><td><input class="member" type="checkbox" name="member_id[]" value="<%=c.id%>" /></td><% end %>
      <td nowrap="true"><%=c.id%></td>
      <td nowrap="true">
        <%= link_to "#{c.list_name}", {:controller => 'member', :action => 'show', :id => c.id} -%>
      </td>
      <td nowrap="true" title="<%= c.addr_1 ? c.addr_1 : '' %><%= c.addr_2 ? ', '+c.addr_2 : '' %><%= c.addr_3 ? ', '+c.addr_3 : '' %><%= c.addr_4 ? ', '+c.addr_4 : '' %><%= c.post_code ? ', '+c.post_code : '' %>">
        <% if c.area_id && c.area_id != 0 %>
          <%= Area.find(:first, :conditions => { :id => c.area_id }).name %>
        <% end %>
      </td>
      <td nowrap="true">
		<% if c.membershiptype_id %>
			<%= Membershiptype.find(c.membershiptype_id).name %>
		<% end %>
      </td>
      <td nowrap="true">
		<% if c.created_at %>
			<%= c.created_at.strftime('%b %Y') %>
		<% end %>
      </td>
      <td nowrap="true">
        <% if (Payment.find(:all, :conditions => { :member_id => c.id, :year => Integer(Time.now.strftime('%Y'))-1, :partial => false }) != []) %>
          Yes
        <% end %>
      </td>
      <td nowrap="true">
        <% if (Payment.find(:all, :conditions => { :member_id => c.id, :year => Integer(Time.now.strftime('%Y')), :partial => false }) != []) %>
          Yes
        <% end %>
      </td>
      <% n = Note.find(:first, :conditions => {:member_id => c.id}, :order => 'modification_time DESC' ) %>
	  <% if n %>
		<td nowrap="true">
			<%= n.modification_time.in_time_zone("Auckland").strftime("%d-%b-%Y") %>
		</td>
	  <% else %>
	    <td></td>
	  <% end %>
    </tr>
  <% end %>
</table>
