<table id="members" class="sortable">
  <tr>
    <% if @checkbox %><th></th><% end %>
    <th>Name</th>
    <th>Region</th>
    <th>Type</th>
    <th>Since</th>
    <th>Paid?</th>
    <th>Last updated</th>
  </tr>

  <% @members = @members.sort_by { |m| m.list_name.downcase } %>

  <% @members.each do |c| %>
    <tr>
      <% if @checkbox %><td><input class="member" type="checkbox" name="member_id[]" value="<%=c.id%>" /></td><% end %>
      <td nowrap="true">
        <%= link_to "#{c.list_name}", {:controller => 'member', :action => 'show', :id => c.id} -%>
      </td>
      <td nowrap="true" title="<%= c.addr_1.empty? ? '' : c.addr_1 %><%= c.addr_2.empty? ? '' : ', '+c.addr_2 %><%= c.addr_3.empty? ? '' : ', '+c.addr_3 %><%= c.addr_4.empty? ? '' : ', '+c.addr_4 %><%= c.post_code.empty? ? '' : ', '+c.post_code %>">
        <% if c.region_id != nil %>
          <%= Region.find(:first, :conditions => { :id => c.region_id }).name %>
        <% end %>
      </td>
      <td nowrap="true">
        <%= Membershiptype.find(c.membershiptype_id).name %>
      </td>
      <td nowrap="true">
        <%= c.created_at.strftime('%b %Y') %>
      </td>
      <td nowrap="true">
        <% if (Payment.find(:all, :conditions => { :member_id => c.id, :year => Time.now.strftime('%Y'), :partial => false }) != []) %>
          Yes
        <% end %>
      </td>
      <% n = Note.find(:first, :conditions => {:member_id => c.id}, :order => 'modification_time DESC' ) %>
      <td nowrap="true" title="<%= n.content %>">
        <%= n.modification_time.in_time_zone("Auckland").strftime("%d-%b-%Y") %>
      </td>
    </tr>
  <% end %>
</table>
