<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>NEWZATS Admin - <%= yield :title %></title>
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="page">
	  <% if current_user %>
		  <div id="sidebar">
			<%= link_to "Logout", {:action => :destroy, :controller => :user_sessions} -%>
			<ul id="sidebar-items">
			  <li>
			  <% form_tag '/member/search', :id => 'search' do %>
				<%= text_field_tag :term, params[:term] %>
				<%= submit_tag "Search" %> members
			  <% end -%>
			  </li>
			
			  <li>
				<h3>Member functions</h3>
				<ul class="links">
				  <li><%= link_to "Add member", {:action => :new, :controller => :member} -%></li>
				  <li><%= link_to "Member list", {:action => :list, :controller => :member} -%></li>
				  <li><%= link_to "Email members", {:action => :email, :controller => :member} -%></li>
				  <li><%= link_to "Notes", {:action => :list, :controller => :note} -%></li>
				  <li><%= link_to "Spreadsheet Export", {:action => :csv, :controller => :member} -%></li>
				</ul>
			  </li>

			  <li>
				<h3>Setup</h3>
				<ul class="links">
				  <li><%= link_to "Groups", {:action => :list, :controller => :group} -%></li>
				  <li><%= link_to "Regions", {:action => :list, :controller => :region} -%></li>
				  <li><%= link_to "Membership types", {:action => :list, :controller => :membershiptype} -%></li>
				</ul>
			  </li>
			  
			</ul>
		  </div>
      <% end %>
	  
      <div id="content">
        <div id="header">
          <h1>NEWZATS Admin - <%= yield :title %></h1>
        </div>
		<br/>
		<p style="color: green"><%= notice %></p>
		<%= yield %>
	  </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>
